<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
        xsi:noNamespaceSchemaLocation="urn:magento:framework:ObjectManager/etc/config.xsd">
    <type name="Danslo\VelvetGraphQl\Model\GraphQl\GridItemUnionReader">
        <arguments>
            <argument name="gridItemTypes" xsi:type="array">
                <item name="VelvetGridProduct" xsi:type="string">VelvetGridProduct</item>
                <item name="VelvetCatalogAttribute" xsi:type="string">VelvetCatalogAttribute</item>
            </argument>
        </arguments>
    </type>

    <virtualType name="Danslo\VelvetCatalogGraphQl\Model\GraphQl\TableReader\Product" type="Danslo\VelvetGraphQl\Model\GraphQl\TableReader">
        <arguments>
            <argument name="schemaType" xsi:type="string">VelvetProduct</argument>
            <argument name="tableNames" xsi:type="array">
                <item name="catalog_product_entity" xsi:type="string">catalog_product_entity</item>
            </argument>
            <argument name="generateInputType" xsi:type="boolean">false</argument>
        </arguments>
    </virtualType>

    <virtualType name="Danslo\VelvetCatalogGraphQl\Model\GraphQl\TableReader\CatalogAttribute" type="Danslo\VelvetGraphQl\Model\GraphQl\TableReader">
        <arguments>
            <argument name="schemaType" xsi:type="string">VelvetCatalogAttribute</argument>
            <argument name="tableNames" xsi:type="array">
                <item name="eav_attribute" xsi:type="string">eav_attribute</item>
                <item name="catalog_eav_attribute" xsi:type="string">catalog_eav_attribute</item>
            </argument>
        </arguments>
    </virtualType>

    <virtualType name="Magento\Framework\GraphQlSchemaStitching\Reader">
        <arguments>
            <argument name="readers" xsi:type="array">
                <item name="productTableReader" xsi:type="object">Danslo\VelvetCatalogGraphQl\Model\GraphQl\TableReader\Product</item>
                <item name="catalogAttributeTableReader" xsi:type="object">Danslo\VelvetCatalogGraphQl\Model\GraphQl\TableReader\CatalogAttribute</item>
            </argument>
        </arguments>
    </virtualType>
</config>
